.toast {
  position: absolute;
  bottom: 20px;
  right: 20px;

  display: flex;
  align-items: center;

  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;

  background: #f5f5f5;
  border-radius: 10px;

  z-index: 1000;

  .message {
    margin-left: 15px;

    width: 345px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #2f2f2f;
  }

  .close {
    position: absolute;
    top: 8px;
    right: 8px;
  }

  .error::before {
    background-color: #e13f32;
  }

  .warning::before {
    background-color: #f2bc00;
  }

  .success::before {
    background-color: #1ade1e;
  }

  .loadbar {
    position: absolute;
    bottom: 0;
    left: 2px;
    right: 2px;

    height: 4px;

    &::before {
      content: "";
      position: absolute;

      height: 100%;

      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      transform-origin: left;

      animation: loader 5s ease-in-out;
    }
  }
}

@keyframes loader {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
