* {
    background: #2F2F2F;
    overflow: hidden;
}

.bg-setting {
    display: flex;
    position: absolute;
    justify-content: end;
    width: 100%
}

.language {
    cursor: pointer;

    width: 74.65px;
    height: 30.3px;

    margin-top: 27px;
    margin-right: 15.35px;

    background: #000000;
    border-radius: 15.1522px;

    display: flex;
    justify-content: space-between;
}

.language>svg {
    background: #000000;
    border-radius: 50%;
}

.lan-svg {
    margin: 3px;
}

.lan-type {
    margin: 9px 11.7px 7.3px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.lan-name {
    font-size: 11.83px;
    background: #000000;
}

.lan-arrow {
    margin-left: 3.04px;
    background-color: #000000;
}

.l_d-mode {
    cursor: pointer;

    width: 31px;
    height: 31px;

    margin-top: 27px;
    margin-right: 27px;

    justify-content: end;

    background: #000000;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.l_d-mode>svg {
    background: #000000;
    border-radius: 50%;
}

.block-img {
    position: absolute;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #EAEAEA;
    border-radius: 20px;
}

.bi1 {
    transform: rotate(31.18deg);

    width: 176.69px;
    height: 214px;

    left: 5.64%;
    top: 12.61%;
    right: 85.36%;
    bottom: 69.48%;

    animation: 10s linear 0s infinite alternate anim-go1;
}

.bi2 {
    transform: rotate(45deg);

    width: 151.98px;
    height: 184.07px;

    left: 20.5%;
    right: 71.75%;
    top: 0%;
    bottom: 84.6%;
}

.bi3 {
    transform: rotate(4.9deg);

    width: 119.28px;
    height: 144.46px;

    left: 13.89%;
    right: 80.03%;
    top: 26.52%;
    bottom: 61.4%;
}

.bi4 {
    transform: rotate(28.68deg);

    width: 100.51px;
    height: 121.74px;

    left: 17.46%;
    right: 77.42%;
    top: 65.5%;
    bottom: 24.32%;
}

.bi5 {
    transform: rotate(-17.22deg);

    width: 65.38px;
    height: 79.19px;

    left: 22.62%;
    right: 74.05%;
    top: 76.34%;
    bottom: 17.04%;
}

.bi6 {
    transform: rotate(16.72deg);

    width: 124.85px;
    height: 151.21px;

    left: 84.04%;
    right: 9.61%;
    top: 11.88%;
    bottom: 75.47%;
}

.bi7 {
    transform: rotate(51.3deg);

    width: 113.81px;
    height: 137.84px;

    left: 86.54%;
    right: 7.67%;
    top: 56.71%;
    bottom: 31.76%;
}

.bi8 {
    transform: rotate(7.57deg);

    width: 119.28px;
    height: 144.46px;

    left: 93.98%;
    right: -0.05%;
    top: 70.41%;
    bottom: 17.51%;
}

.bi9 {
    transform: rotate(27.5deg);

    width: 197.76px;
    height: 239.52px;

    left: 84.55%;
    right: 5.38%;
    top: 74.59%;
    bottom: 5.38%;
}

.super-small-ball {
    position: absolute;
    left: 5.88%;
    right: 93.51%;
    top: 15.31%;
    bottom: 83.69%;

    width: 12px;
    height: 12px;

    background: #282828;
    border-radius: 50%;
}

.heart {
    position: absolute;
    overflow: visible;

    width: 16.65px;
    height: 16.23px;
}

.heart:before,
.heart:after {
    position: absolute;
    width: 16.65px;
    height: 16.23px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.heart:before {
    bottom: 0px;
    left: -9px;
}

.heart:after {
    top: -9px;
    right: 0px;
}

.heart-gray,
.heart-gray:after,
.heart-gray:before {
    background-color: #282828;
}

.heart-lightgray,
.heart-lightgray:after,
.heart-lightgray:before {
    background-color: #3C3C3C;
}

.h1 {
    left: 27.02%;
    right: 72.13%;
    top: 8.2%;
    bottom: 90.45%;

    transform: rotate(80deg);
}

.h2 {
    left: 7.01%;
    right: 92.15%;
    top: 31.54%;
    bottom: 67.11%;

    transform: rotate(80deg);
}

.h3 {
    left: 89.56%;
    right: 9.59%;
    top: 63.91%;
    bottom: 34.73%;

    transform: rotate(10deg);
}

.h4 {
    left: 97.05%;
    right: 2.1%;
    top: 81.31%;
    bottom: 17.33%;

    transform: rotate(10deg);
}

.h5 {
    left: 91.85%;
    right: 7.3%;
    top: 12.13%;
    bottom: 86.51%;

    transform: rotate(10deg);
}

.small-ball {
    box-sizing: border-box;

    position: absolute;

    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.small-gray {
    border: 5px solid #282828;
}

.small-lightgray {
    border: 5px solid #383838;
}

.sb1 {
    left: 22.99%;
    right: 75.68%;
    top: 47.18%;
    bottom: 50.65%;
}

.sb2 {
    left: 6.59%;
    right: 92.08%;
    top: 62.9%;
    bottom: 34.92%;
}

.sb3 {
    left: 81.57%;
    right: 17.11%;
    top: 9.95%;
    bottom: 87.87%;
}

.small-medium-ball {
    box-sizing: border-box;

    position: absolute;

    border: 5px solid #282828;
    border-radius: 50%;
}

.smb1 {
    left: 37.56%;
    right: 60.3%;
    top: 90.17%;
    bottom: 6.31%;

    width: 42px;
    height: 42px;
}

.smb2 {
    left: 12.81%;
    right: 84.7%;
    top: 80.8%;
    bottom: 15.1%;

    width: 49px;
    height: 49px;
}

.smb3 {
    left: 85.03%;
    right: 11.97%;
    top: 48.52%;
    bottom: 46.55%;

    width: 59px;
    height: 59px;
}

.smb4 {
    position: absolute;

    box-sizing: border-box;

    border: 5px solid #292929;
    border-radius: 50%;

    left: 40.99%;
    right: 57.43%;
    top: 18.15%;
    bottom: 79.26%;

    width: 31px;
    height: 31px;
}

.big-medium-ball {
    box-sizing: border-box;

    position: absolute;

    width: 65px;
    height: 65px;

    border-radius: 50%;
}

.bm-gray {
    border: 5px solid #292929;
}

.bm-lightgray {
    border: 5px solid #505050;
}

.bm1 {
    left: 63.79%;
    right: 32.9%;
    top: 89.34%;
    bottom: 5.23%;
}

.bm2 {
    left: 78.92%;
    right: 17.77%;
    top: 75.12%;
    bottom: 19.45%;
}

.bm3 {
    left: 21.97%;
    right: 74.72%;
    top: 32.96%;
    bottom: 61.61%;
}

.bm4 {
    left: 8.48%;
    right: 88.21%;
    top: 49.77%;
    bottom: 44.79%;
}

.big-ball {
    box-sizing: border-box;

    position: absolute;
    left: 93.03%;
    right: 2.24%;
    top: 58.64%;
    bottom: 33.58%;

    width: 65px;
    height: 65px;

    border: 5px solid #AAAAAA;
    border-radius: 50%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 2;
}

@keyframes anim-go1 {
    0% {
        transform: translateY(0px) translatex(0px) rotate(31.18deg)
    }

    25% {
        transform: translateY(-25px) translatex(5px) rotate(28deg)
    }

    50% {
        transform: translateY(-50px) translatex(-5px) rotate(34deg)
    }

    75% {
        transform: translateY(-75px) translatex(5px) rotate(28deg)
    }

    100% {
        transform: translateY(-100px) translatex(-20px) rotate(34deg)
    }
}