.header {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #4b4b4b;

  margin-bottom: 39px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #575757;

  margin-bottom: 60px;
}

.form {
  display: contents;

  input {
    margin-bottom: 50px;
  }
}
