.header {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;

  color: #4b4b4b;

  margin-bottom: 39px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: center;

  color: #575757;

  margin-bottom: 60px;
}

.form {
  input,
  button,
  a {
    align-self: center;
  }

  button {
    margin-top: 50px;
  }

  .error {
    margin-left: 22px;
    margin-top: 10px;

    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    color: #9d3535;
  }
}
