.custom_btn {
  color: #ffffff;

  border: 0;

  width: 445px;
  height: 58px;

  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  border-radius: 15px;

  cursor: pointer;

  background: #48d824;
  box-shadow: -350px 0 250px -120px #10d0ea inset;

  transition: 0.5s ease-out;

  &:hover {
    background: #31ab3a;
    box-shadow: -350px 0 250px -120px #0ea6b6 inset;
  }
}

.custom_btn2 {
  color: #2f2f2f;

  border: 0;

  width: 443px;
  height: 56px;

  position: relative;

  color: #2f2f2f;

  background: #ebebeb;
  border-radius: 15px;

  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  border-radius: 15px;

  cursor: pointer;

  transition: 0.5s;

  &:after {
    content: "";

    position: absolute;
    top: -1px;
    left: -1px;

    height: calc(100% + 2px);
    width: calc(100% + 2px);

    background: #48d824;
    box-shadow: -350px 0 250px -120px #10d0ea inset;
    background-size: 300% 300%;

    border-radius: 15px;

    z-index: -1;

    transition: 0.5s;
  }

  &:hover {
    color: #ebebeb;

    background: transparent;

    &:after {
      background: rgba(72, 216, 36, 0.5);
      box-shadow: -350px 0 150px -120px rgba(16, 208, 234, 0.6) inset;
    }
  }
}

.error_btn {
  color: #ffffff;
  border: 0;

  width: 445px;
  height: 58px;

  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  border-radius: 15px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(88.74deg, #48d824 -18.76%, #10d0ea 99.82%);
  cursor: not-allowed;
}

.custom_mini_btn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;

  margin-top: 30px;

  color: #575757;

  cursor: pointer;

  .loader {
    position: relative;

    width: 100%;
    height: 2px;

    border-radius: 1px;
    background: radial-gradient(
      40.14% 40.14% at 50% 50%,
      #ebebeb 0%,
      rgba(248, 248, 248, 0.11) 100%
    );

    &::before {
      content: "";
      position: absolute;

      width: 100%;
      height: 100%;

      background-color: #575757;

      transform-origin: left;
      transform: scaleX(0);

      transition: 1s ease-in-out;
    }
  }

  &:hover .loader::before {
    transform: scaleX(1);
  }
}
