.back {
  display: flex;
  align-items: center;

  margin-top: 46px;
  margin-bottom: 28px;

  width: 200px;

  cursor: pointer;

  div {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #2f2f2f;
  }
}

.information {
  width: 100vh;

  background: rgba(248, 248, 248, 0.8);
  border-radius: 15px;

  padding: 30px 50px;
  padding-right: 315px;

  .header {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    letter-spacing: -0.011em;

    color: #2f2f2f;

    margin-bottom: 20px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 10px;

    cursor: pointer;

    &:last-child {
      margin-bottom: 0;
    }

    .description {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;

      letter-spacing: -0.011em;

      color: #2f2f2f;
    }

    .btn {
      background: #ebebeb;
      border-radius: 15px;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 8px 10px;
    }
  }
}
