body {
  margin: 0;

  &::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  &::-webkit-scrollbar-track {
    border-left: 3px solid #ebebeb;
    border-right: 3px solid #ebebeb;
    border-top: 3px solid #ebebeb;
    border-bottom: 3px solid #ebebeb;
    border-radius: 4px;

    background: #2f2f2f;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(88.74deg, #48d824 -18.76%, #10d0ea 99.82%);
    border-radius: 50px;
  }
}

* {
  box-sizing: border-box;

  font-family: Inter;
}

.root_main {
  display: flex;
  justify-content: space-between;
}

.active {
  svg defs stop {
    &:first-child {
      stop-color: #2f8d18;
    }

    &:last-child {
      stop-color: #0f8999;
    }
  }

  div {
    background: linear-gradient(88.74deg, #2f8d18 -18.76%, #0f8999 99.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
