.right_menu {
  margin-top: 40px;
  margin-right: 45px;

  width: 394px;
  height: 737px;

  position: sticky;
  top: 40px;

  .show_search {
    transform: scaleY(1);
    opacity: 1;
  }

  .not_show_search {
    transform: scaleY(0);
    opacity: 0;
  }

  .user_search {
    position: absolute;
    margin-top: 20px;

    background: #f8f8f8;
    border-radius: 9px;

    z-index: 100;

    transform-origin: top;

    height: 725px;
    width: 100%;

    transition: all 0.5s ease-out;

    .find_user {
      display: flex;
      align-items: center;

      margin-left: 33px;
      margin-top: 24px;
      margin-bottom: 15px;

      cursor: pointer;

      img {
        width: 59px;
        height: 59px;

        margin-right: 7px;

        border-radius: 50%;
      }

      svg {
        margin-right: 7px;
      }

      .find_user_name {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        letter-spacing: -0.011em;

        color: #000000;
      }

      .find_user_username {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        letter-spacing: -0.011em;

        color: #a3a3a3;
      }
    }
  }

  .top_menu {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 7px 9px;

    width: 394px;
    height: 49px;

    background: linear-gradient(88.74deg, #48d824 -18.76%, #10d0ea 99.82%);
    border-radius: 13px;

    label {
      position: relative;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }

    .icon {
      display: inline-block;
      stroke-width: 0;
      stroke: currentColor;
      fill: currentColor;
    }

    svg {
      cursor: pointer;
    }

    input {
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 39px;
      padding-right: 6px;

      box-sizing: border-box;

      width: 228px;
      height: 35px;

      background: #f8f8f8;
      border: 0;
      border-radius: 10px;

      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;

      color: #474747;

      &:focus {
        outline: none;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #474747;
      }
    }
  }

  .bottom_menu {
    background: #f8f8f8;

    height: 668px;

    border-radius: 15px;

    margin-top: 20px;

    padding-left: 22px;
    padding-right: 12px;
    padding-top: 17px;
    padding-bottom: 17px;

    .header {
      margin-bottom: 30px;

      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 150%;

      letter-spacing: -0.011em;

      color: #2f2f2f;
    }

    .notif_first {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .secondary_header {
      margin-bottom: 10px;

      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 150%;

      letter-spacing: -0.011em;

      color: #2f2f2f;
    }

    .container {
      overflow-y: auto;
      max-height: 560px;

      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }

      &::-webkit-scrollbar-track {
        border-left: 3px solid #f8f8f8;
        border-right: 3px solid #f8f8f8;
        border-top: 3px solid #f8f8f8;
        border-bottom: 3px solid #f8f8f8;
        border-radius: 4px;

        background: #2f2f2f;
      }

      &::-webkit-scrollbar-thumb {
        background: linear-gradient(88.74deg, #48d824 -18.76%, #10d0ea 99.82%);
        border-radius: 50px;
      }

      .notification {
        display: flex;
        align-items: center;

        z-index: 1;
        position: relative;

        .notinf_text {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;

          cursor: pointer;

          letter-spacing: -0.011em;

          margin-right: 10px;
        }

        span {
          font-weight: 600;

          margin-right: 5px;

          color: #2f2f2f;
        }

        .notif_img_h {
          margin-right: 14px;

          width: 35px;
          height: 35px;

          cursor: pointer;

          border-radius: 50%;
        }

        .notif_img_m {
          margin-right: 14px;

          cursor: pointer;

          min-width: 35px;
        }

        button {
          margin-right: 10px;
          border: 0;

          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;

          cursor: pointer;

          min-width: 140px;
          height: 30px;

          border-radius: 15px;
        }

        .btn_foll {
          background: #48d824;
          box-shadow: -185px 0 100px -120px #10d0ea inset;

          transition: 0.5s ease-out;

          &:hover {
            background: #31ab3a;
            box-shadow: -185px 0 100px -120px #0ea6b6 inset;
          }

          color: #f5f5f5;
        }

        .btn_unfoll {
          position: relative;

          background: #ffffff;

          color: #2f2f2f;

          transition: 0.3s;

          &:after {
            content: "";

            position: absolute;
            top: -1px;
            left: -1px;

            height: calc(100% + 2px);
            width: calc(100% + 2px);

            background: #48d824;
            box-shadow: -185px 0 100px -120px #10d0ea inset;
            background-size: 300% 300%;

            border-radius: 15px;

            z-index: -1;

            transition: 0.3s;
          }

          &:hover {
            color: #ffffff;

            background: transparent;

            &:after {
              background: rgba(72, 216, 36, 0.5);
              box-shadow: -185px 0 100px -120px rgba(16, 208, 234, 0.6) inset;
            }
          }
        }
      }

      .notinf_date {
        margin-top: 2px;
        margin-bottom: 20px;
        margin-left: 50px;

        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;

        color: rgba(47, 47, 47, 0.5);

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }
}
