body,
.btn {
    color: #FFFFFF;
}

svg {
    background: transparent;
}

.btn {
    box-sizing: border-box;

    width: 445px;
    height: 80px;

    font-size: 25px;

    border: 1px solid transparent;
    border-radius: 15px;

    margin-bottom: 15px;
}

.btn-login {
    background: linear-gradient(88.74deg, #48D824 -18.76%, #10D0EA 99.82%);

    box-shadow: 0px -1px 15px -2px rgba(0, 255, 56, 0.25);
}

.btn:last-child {
    margin-top: 15px;
    margin-bottom: 0;
}

.btn:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(88.74deg, #48D824 -18.76%, #10D0EA 99.82%);
    box-shadow: 0px -1px 15px -2px rgba(0, 255, 56, 0.25);
}

.description {
    margin-top: 50.97px;
    margin-bottom: 80px;
    font-size: 24px;
    background: transparent;
}

.btn-reg {
    background: linear-gradient(#2F2F2F, #2F2F2F) padding-box,
        linear-gradient(90deg, #3ED647 0%, #10CFE7 100%) border-box;
}

.dark-reg {
    box-shadow: 0px -1px 15px -2px rgba(255, 46, 0, 0.25);
}

.light-login {
    color: #FFFFFF;

    background: linear-gradient(88.74deg, #48D824 -18.76%, #10D0EA 99.82%);
}

.light-reg {
    background: linear-gradient(#F8F8F8, #F8F8F8) padding-box,
        linear-gradient(90deg, #3ED647 0%, #10CFE7 100%) border-box;
    color: #2F2F2F;
}

.light-reg:hover {
    background: linear-gradient(88.74deg, rgba(72, 216, 36, 0.5) -18.76%, rgba(16, 208, 234, 0.5) 99.82%);
}