.profile_inf {
  background: #f8f8f8;
  border-radius: 15px;

  padding-top: 31px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;

  .profile_inf_data {
    display: flex;

    .profile_img {
      margin-top: 12px;
      margin-right: 32px;

      width: 209px;
      height: 209px;

      background-position: center;
      background-size: 209px;

      border-radius: 50%;
    }

    .profile_names {
      display: flex;
      align-items: center;

      margin-bottom: 25px;

      .profile_name {
        margin-right: 30px;

        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 150%;

        text-align: center;
        letter-spacing: -0.011em;

        background: linear-gradient(88.74deg, #48d824 -18.76%, #10d0ea 99.82%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }

      .profile_username {
        margin-right: 5px;

        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 150%;

        text-align: center;
        letter-spacing: -0.011em;

        color: #0b0303;
      }
    }

    .profile_count {
      display: flex;

      margin-bottom: 20px;

      div {
        margin-right: 39px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #000000;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .profile_description {
      margin-bottom: 29px;

      width: 645px;
      height: 38px;

      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;

      color: #4f4f4f;
    }
  }

  .profile_btn {
    display: flex;
    justify-content: center;

    margin-bottom: 25px;

    button {
      border: 0;
      border-radius: 15px;

      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;

      width: 200px;
      height: 35px;

      &:first-child {
        margin-right: 17px;

        background: linear-gradient(88.74deg, #48d824 -18.76%, #10d0ea 99.82%);

        color: #ffffff;
      }
      &:last-child {
        margin-left: 17px;

        background: linear-gradient(#ffffff, #ffffff) padding-box,
          linear-gradient(to right, #3ed647, #10cfe7) border-box;
        border: 1px solid transparent;

        color: #2f2f2f;
      }
    }
  }

  .recomendation {
    display: flex;

    .rec_prof {
      margin-right: 45px;

      cursor: pointer;

      &:last-child {
        margin-right: 0px;
      }

      .rec_border {
        border-radius: 50%;
        border: 2px solid transparent;
        background: linear-gradient(#ffffff, #ffffff) padding-box,
          linear-gradient(to right, #3ed647, #10cfe7) border-box;

        padding: 6px;

        height: 100px;
        width: 100px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 10px;

        img {
          height: 87.06px;
          width: 87.06px;

          border-radius: 50%;
        }
      }

      .rec_text {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        text-align: center;
        letter-spacing: -0.011em;

        color: #2f2f2f;
      }
    }
  }
}

.profile_data {
  .selection {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

    div {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 150%;

      text-align: center;
      letter-spacing: -0.011em;

      cursor: pointer;

      color: #000000;

      border-bottom: 1px solid #000000;
    }
  }

  .profile_data_imgs {
    display: flex;
    flex-wrap: wrap;

    .profile_data_img {
      width: 311px;
      height: 311px;

      background: url(../../../Assets/Img/monkey-selfie_custom-7117031c832fc3607ee5b26b9d5b03d10a1deaca-s1100-c50.jpg),
        #d9d9d9;
      background-position: center;
      background-size: 311px;
      border-radius: 15px;

      margin-right: 27.5px;
      margin-bottom: 29px;

      &:nth-child(3n + 3) {
        margin-right: 0;
      }
    }
  }
}
