.light_header {
  color: #4b4b4b;
}
.light_description {
  color: #575757;
}

.dark_header,
.dark_description {
  color: #f8f8f8;
}

.header {
  margin-bottom: 60px;

  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
}

.description {
  margin-bottom: 70px;

  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  text-align: center;

  height: auto;
}
