.custom-input {
    box-sizing: border-box;

    background: #FFFFFF;
    color: #939292;

    width: 455px;
    height: 55px;

    box-shadow: 0px 2px 29px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    border: 0;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    padding-left: 22px;
}

.custom-input:focus {
    outline: none;
}